<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Hello, world!</title>
  </head>
  <body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="#">
                Item Catalog
            </a>
            
            <p>{{session["username"]}}</p>

            {% if not session["username"] %}
            <a id="top-login-btn" href="{{ url_for('login') }}" class="btn btn-outline-primary my-2 my-sm-0">Login</a>
            {% else %}
            <a id="top-login-btn" href="{{ url_for('gdisconnect') }}" class="btn btn-outline-primary my-2 my-sm-0">Logout</a>
            {% endif %}

            
        </div>
    </nav>

    <section class="container">
        {% block content %}{% endblock %}
    </section>
    
    </body>
</html>