<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//apis.google.com/js/platform.js"> </script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style-default.css">

    <title>Classroom Database</title>
  </head>
  <body>

    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand"> Classroom Database</a>

            <div>
                {% if not session["username"] %}
                <button id="top-login-btn" class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">Login</button>
                {% else %}
                <span class="navbar-text mr-3">Welcome, {{session["username"]}} [{{ session["user_id"] }}]</span>
                <a id="top-login-btn" href="{{ url_for('gdisconnect') }}" class="btn btn-outline-primary my-2 my-sm-0">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>

    <section class="container">
        {% block content %}{% endblock %}
    </section>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Login</h5>
            </div>
            <div class="modal-body">
                <button id="g-sign-in" class="btn-si btn-google">Sign in with Google</button>
                <div id="result"></div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            attachSignInButton();
        });

        function attachSignInButton() {
            gapi.load('auth2', function(){
                auth2 = gapi.auth2.init({
                    scope: 'openid',
                    client_id: '273136913024-c3hv9d30vgipd0lkidg832p1bnh913t5.apps.googleusercontent.com',
                    redirect_uri: 'postmessage',
                    cookie_policy: 'single_host_origin'
                });
                var btn = document.getElementById('g-sign-in');
                auth2.attachClickHandler(btn, {}, onSignIn, onSignInFailure);
            });
        };

        function onSignIn(authResult) {
            var profile = authResult.getBasicProfile();
            var response = authResult.getAuthResponse();
            var newResult = Object.assign({id_token_sub: profile['Eea']}, response);
            var stringifiedResult = JSON.stringify(newResult);

            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: stringifiedResult,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    if (result) {
                        window.location.href = "/";
                    } else if (authResult['error']) {
                        onSignInFailure();
                    }
                }
            });
        }

        function onSignInFailure() {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
    </script>
</body>
</html>
