{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
        <h1 class="display-4">Welcome to Classroom Database</h1>
        <p class="lead">Keep track of students easily.</p>
      </div>

<div class="row p-5">
    
    <div class="col-md-6">
        <h4>Classrooms</h4>

        <ul class="list-group">
            {% if not session["user_id"] %}
                <p>Login to create classrooms.</p>
            {% else %}
                {% if classrooms|length < 1 %}
                    <p>No Classrooms</p>
                {% endif %}

                {% for classroom in classrooms %}
                    <a href="/classrooms/{{ classroom.id }}" class="list-group-item list-group-item-action">{{ classroom.name }}</a>
                {% endfor %}

                <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#newClassroomModal">New</button>
            {% endif %}
        </ul>
    </div>
    

    <div class="col-md-6">
        <h4>Recent</h4>
        {% if not session["user_id"] %}
            <p>Login to create students.</p>
        {% else %}
            {% if students|length < 1 %}
                <p>No Students</p>
            {% endif %}

            {% for student in students %}
                <p><small class="mr-3">{{ student.created_date }}</small> <strong>{{ student.name }}</strong> was added to <a href="classrooms/{{ student.classroom_id }}">{{ student.classroom_name }}'s</a> classroom</p>
            {% endfor %}
        {% endif %}
    </div>

    <!-- New Classroom Modal -->
    {% if session["user_id"] %}
    <div class="modal fade" id="newClassroomModal" tabindex="-1" role="dialog" aria-labelledby="newClassroomModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">New Classroom</h5>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <form action="/classrooms" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" type="text" name="name">
                            </div>
                            <button class="btn btn-primary" type="submit">Add</button>
                        </form>
                    </div>
            </div>
            </div>
        </div>
    </div>
    {% endif %}

    

</div>

{% endblock %}